/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.04.2019, 10:44:27
    Author     : felix
*/
#AnchorPane {
    -fx-background-image: url("../images/background_menu.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#button_right {
    -fx-background-image: url("../images/arrow_right.png");
    -fx-background-repeat: stretch;
    -fx-background-color: none;
    -fx-background-size: 40 40;
    -fx-background-position: center center;
}

#button_left {
    -fx-background-image: url("../images/arrow_left.png");
    -fx-background-repeat: stretch;
    -fx-background-color: none;
    -fx-background-size: 40 40;
    -fx-background-position: center center;
}

